* {
margin: 0;
padding: 0;
border: none;
}

body {
    height: 100vh;
}

.header {
    height: 30vh;
    background-color: burlywood; 
    display: flex;
    align-items: center;   
    justify-content: flex-start; 
}

.main {
    height: 40vh;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer {
    height: 30vh;
    background-color: violet; 
    display: flex;
    align-items: center;   
    justify-content: flex-end; 
}

.text {
    font-size: 20px;         
    color: darkmagenta;             
    font-family: Arial;
    font-weight: bold;
}
